/* &display=swap */
@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #424551;
}
/* ================================================================ */

.container {
	margin-left: 345px;
	max-width: 810px;
}

h2 {
	font-weight: 900;
	font-size: 50px;
	text-transform: uppercase;
}

.header-h1 {
	color: #1e212c;
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin-bottom: 26px;
}

.data {
	display: inline-block;
	background: url(../img/calendar.svg) 0 5px no-repeat;
	color: #787a80;
	line-height: 1.6;
	padding-left: 24px;
	padding-right: 24px;

	margin-bottom: 40px;
}

.time {
	display: inline-block;
	background: url(../img/clock.svg) 0 5px no-repeat;
	color: #787a80;
	line-height: 1.6;
	padding-left: 24px;
}

.share {
	display: inline-block;
	font-weight: 700;
	line-height: 1.6;
	margin-left: 415px;
}

.share::after {
	content: "";
	display: inline-block;
	background: url(../img/facebook.svg) 0 0 no-repeat, url(../img/twitter.svg) 30px 0 no-repeat,
		url(../img/linked-in.svg) 60px 0 no-repeat;
	min-width: 80px;
	min-height: 20px;
	margin-left: 12px;
}

.img__dekstop {
	margin-bottom: 60px;
}

.paragraph__one {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 24px;
}

.paragraph__text {
	line-height: 1.6;
	margin-bottom: 30px;
}

.paragraph__text-two {
	line-height: 1.6;
	margin-bottom: 48px;
}

.paragraph__quote {
	color: #1e212c;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	background: url(../img/braces.svg) no-repeat;
	padding-left: 58px;
	margin-bottom: 48px;
}

.paragraph__text-three {
	line-height: 1.6;
	margin-bottom: 24px;
}

.list__text li {
	background: url(../img/check.svg) 0 5px no-repeat;
	padding-left: 32px;
	line-height: 1.6;
	margin-bottom: 4px;
}

ul {
	margin-bottom: 24px;
}

.paragraph__last {
	line-height: 1.6;
	margin-bottom: 63px;
}

.share-footer {
	display: inline-block;
	font-weight: 700;
	line-height: 1.6;
	margin-left: 668px;
}

.share-footer::after {
	content: "";
	display: inline-block;
	background: url(../img/facebook.svg) 0 0 no-repeat, url(../img/twitter.svg) 30px 0 no-repeat,
		url(../img/linked-in.svg) 60px 0 no-repeat;
	min-width: 80px;
	min-height: 20px;
	margin-left: 12px;
}

/* =========================== PART 2 ================================ */

.p-game {
	font-weight: 900;
	font-size: 40px;
	margin-bottom: 50px;
}
.line-1 {
	width: 50px;
	height: 50px;
	background-color: rgb(0, 0, 255);
}

.line-1:hover + .line-2 {
	visibility: visible;
}

.line-2 {
	width: 810px;
	height: 50px;
	background-color: rgba(0, 0, 255, 0.9);
	visibility: hidden;
}

.line-2:hover {
	visibility: visible;
}

.line-3 {
	width: 50px;
	height: 50px;
	margin: 0 0 0 auto;
	background-color: rgba(0, 0, 255, 0.8);
	visibility: hidden;
}

.line-2:hover + .line-3 {
	visibility: visible;
}
.line-3:hover {
	visibility: visible;
}
.line-3:hover + .line-4 {
	visibility: visible;
}

.line-4 {
	width: 50px;
	height: 150px;
	margin: 0 0 0 auto;
	background-color: rgba(0, 0, 255, 0.7);
	visibility: hidden;
}
.line-4:hover {
	visibility: visible;
}
.line-4:hover + .line-5 {
	visibility: visible;
}
.line-5 {
	width: 810px;
	height: 50px;
	background-color: rgba(0, 0, 255, 0.6);
	visibility: hidden;
}
.line-5:hover {
	visibility: visible;
}
.line-5:hover + .line-6 {
	visibility: visible;
}

.line-6 {
	width: 50px;
	height: 100px;
	background-color: rgba(0, 0, 255, 0.5);
	visibility: hidden;
}

.line-6:hover {
	visibility: visible;
}
.line-6:hover + .line-7 {
	visibility: visible;
}

.line-7 {
	width: 455px;
	height: 50px;
	background-color: rgba(0, 0, 255, 0.4);
	visibility: hidden;
}
.line-7:hover {
	visibility: visible;
}
.line-7:hover + .line-8 {
	visibility: visible;
}

.line-8 {
	width: 50px;
	height: 100px;
	margin-left: 405px;
	background-color: rgba(0, 0, 255, 0.2);
	visibility: hidden;
}

.line-8:hover {
	visibility: visible;
}

.line-8:hover + .end__game {
	visibility: visible;
}

.end__game {
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	color: #000;
	background-color: rgba(0, 0, 255, 0.1);
	padding: 20px;
	visibility: hidden;
}

.end__game:hover {
	visibility: visible;
}

.game__over {
	color: red;
	box-shadow: 3px 3px 2px 2px #1e212c;
	border-radius: 15px;
	padding: 5px;
	text-shadow: 2px 2px 1px #000;
}
.game__over:hover {
	color: blue;
	box-shadow: 2px 2px 2px 1px #1e212c;
	border-radius: 15px;
}
.game__over:active {
	color: green;
	box-shadow: inset 2px 2px 2px 1px #1e212c;
	border-radius: 15px;
}
